<section>
  	<div class="container-form5">
		<div class="container-form4">
    <div class="title-new-car">Add a new car</div>
  <%= simple_form_for(@car) do |f| %>
  <%= f.input :brand%>
  <%= f.input :model%>
  <%= f.input :year_of_production %>
  <%= f.input :address %>
  <%= f.input :price_per_day %>
  <%= f.submit class: 'btn btn-flat' %>
  <% end %>

</div>
