<div class="container mt-5">

  <div class="margin-body"></div>

  <div class="title-Car mt-5">
    <h1 class="Car-show-title"><%=@car.brand %></h1>
    <p><h3>Brand:</h3> <%= @car.brand %></p>
    <p><h3>Model:</h3><%= @car.model %></p>
    <p> <%= image_tag @car.images, class:"img-show" %></p>
    <p><h3>Year of production:</h3> <%= @car.year_of_production %></p>
    <p> <h3>Address:</h3><%= @car.address %></p>
    <p><h3>Price per day:</h3> <%= @car.price_per_day %></p>


    <%= link_to "New", new_car_path(@car) %> |
    <%= link_to "Delete the car",car_path(@car),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>|
    <%= link_to "Back", cars_path %>
  </div>
